<app-container-sm>
    <mat-card-header>
        <mat-card-title>{{Escola?.nome}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form >
            <mat-tab-group >
                <mat-tab label="Registro">
                    <div class="tab-1">
                            <div fxLayout fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="0">
                        <mat-form-field fxLayout="row" fxFlex="25" appearance="fill">
                            <mat-label>Nº Registro (E/CRE)</mat-label>
                            <input matInput disabled="true" [value]="Escola?.codRegistro">
                        </mat-form-field>
                        
                        <mat-form-field appearance="fill">
                            <mat-label>Nome Escola</mat-label>
                            <input matInput disabled="true"  [value]="Escola?.nome">
                        </mat-form-field>
                        
                        <mat-form-field appearance="fill">
                            <mat-label>Diretor Reponsável</mat-label>
                            <input matInput disabled="true"  [value]="Escola?.responsavel">
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>E-mail</mat-label>
                            <input matInput disabled="true"  [value]="Escola?.email">
                        </mat-form-field>
                    </div>
                </div>
                </mat-tab>
                <mat-tab label="Endereço">
                    <div class="tab-1">
                        <div fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="0">
                            
                            <mat-form-field fxLayout="row" fxFlex="50" appearance="fill" >
                               
                                <mat-label>CEP</mat-label>
                                <input matInput disabled="true"  [value]="Escola?.cep">
                            </mat-form-field>

                            <div fxLayout="row" fxLayoutGap="5px">
                                <mat-form-field fxFlex="75" appearance="fill">
                                    <mat-label>Endereço</mat-label>
                                    <input matInput   disabled="true"  [value]="Escola?.endereco">
                                </mat-form-field>
                                <mat-form-field fxFlex="25" appearance="fill">
                                    <mat-label>Número</mat-label>
                                    <input matInput disabled="true"  [value]="Escola?.numero">
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutGap="5px">
                                <mat-form-field fxFlex="75" appearance="fill">
                                    <mat-label>Bairro</mat-label>
                                    <input matInput disabled="true"  [value]="Escola?.bairro">
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutGap="5px">
                                <mat-form-field fxFlex="50" appearance="fill">
                                    <mat-label>Cidade</mat-label>
                                    <input matInput disabled="true"  [value]="Escola?.cidade">
                                </mat-form-field>
                                <mat-form-field fxFlex="20" appearance="fill">
                                    <mat-label>UF</mat-label>
                                    <input matInput disabled="true"  [value]="Escola?.codUf">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </form>

    </mat-card-content>
    <div class="button">
        <button type="button" mat-raised-button color='primary' [routerLink]="['/escola/consultar']" routerLinkActive="router-link-active" >Voltar</button>
    </div>
</app-container-sm>